
body {
    background-color: whitesmoke;
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 800px;
}

table {
background-color: white;
}



a:hover {
    color: orange;
}
tr:nth-child(2n+1){
background-color:rgb(105, 160, 177);
}
tr:hover{
    background-color: rgb(92, 141, 205);
}
img:hover {
    transform : scale(2);
    }
    @media only screen and (max-width: 600px) {
        body {
            background-color: red;
        }
    }
    
    @media only screen and (max-width: 900px) {
        body {
            background-color: lightblue;
        }
    }

    
    
    